.ipynb_checkpoints/
.DS_Store
/.env
/exercise07/JavaMapReduce/mapreduce.zip
/exercise07/JavaMapReduce/mapreduce/python/gutenberg_x0.1.txt
/exercise07/JavaMapReduce/mapreduce/python/ResultPython.txt
/exercise07/JavaMapReduce/mapreduce/python/gutenberg.txt
/exercise07/JavaMapReduce/mapreduce/python/part-r-00000
/exercise08/datasets/confusion-2014-03-02.tbz2
